:root {
  --primary-color: #554cfe;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container-fluid {
  margin: 100px 0;
}
header {
  text-align: center;
}
.above-heading {
  font-size: 48px;
}
h1 {
  font-size: 96px;
}
.below-heading {
  font-size: 24px;
  opacity: 0.7;
}
header .navigation-links {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.navigation-link {
  margin: 20px;
}
.primary-link,
.secondary-link {
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 20px 15px;
  transition: all ease-in-out 400ms;
}
.primary-link {
  background: var(--primary-color);
  color: white;
}
.primary-link:hover,
.primary-link:focus-visible {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.secondary-link {
  border: 1px solid #6c63ff;
  color: var(--primary-color);
}
.secondary-link:hover,
.secondary-link:focus-visible {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
h2 {
  font-size: 48px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
.email-link {
  font-size: 28px;
  color: var(--primary-color);
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .above-heading {
    font-size: 32px;
  }
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
  h2 {
    font-size: 32px;
  }
  .project-description .primary-link {
    display: block;
    margin: 0 20px;
  }
}
